body {
  margin: 0 0 0 0;
  padding-bottom: 0;
  background: #21232e; }
  body .header {
    width: 100%;
    height: 76vh;
    background: url(../img/m-h-night.jpg) center center no-repeat;
    border-radius: 0% 0% 40% 50%/100% 60% 40% 0%;
    background-size: cover; }
    body .header .header-wrap {
      width: 35%;
      height: 100%;
      margin-left: 10%;
      float: left; }
      body .header .header-wrap .landing-logo {
        display: flex; }
        body .header .header-wrap .landing-logo img {
          width: 30px;
          height: 30px;
          margin-top: 20px; }
        body .header .header-wrap .landing-logo p {
          margin: 23px 0 0 10px;
          font-family: "Fresca", sans-serif;
          display: flex;
          flex-direction: column;
          font-weight: 700;
          color: #fff;
          line-height: 15px; }
          body .header .header-wrap .landing-logo p span {
            font-weight: normal;
            font-size: 7px;
            text-align: center; }
      body .header .header-wrap .header_heading {
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        line-height: 50px;
        font-family: "Source Sans Pro", sans-serif;
        margin: 45px 0 25px 0;
        position: relative;
        z-index: 2; }
        body .header .header-wrap .header_heading::after {
          content: "";
          position: absolute;
          background-color: #ff4e33;
          top: 65px;
          left: 0px;
          height: 35px;
          width: 210px;
          z-index: -1; }
      body .header .header-wrap .header_text {
        color: #fff;
        font-size: 11px;
        font-weight: normal;
        line-height: 17px;
        font-family: "Fresca", sans-serif;
        white-space: pre-line; }
      body .header .header-wrap p + div {
        margin: 45px 0 0 0; }
        body .header .header-wrap p + div .header_button {
          width: 100px;
          height: 35px;
          text-align: center;
          background: #e3ac00;
          border: none;
          border-radius: 5%;
          color: #f2f3e7;
          font-size: 13px;
          font-weight: bold;
          line-height: normal;
          font-family: "Hind", sans-serif; }
        body .header .header-wrap p + div a {
          margin-left: 23%;
          color: #f2f3e7;
          font-size: 15px;
          font-weight: 500;
          line-height: normal;
          font-family: "Source Sans Pro", sans-serif;
          letter-spacing: -0.5px; }
  body main {
    margin-top: -7px; }
    body main .section_card_wrap {
      display: flex;
      flex-direction: column; }
    body main .section_text {
      color: #fff;
      font-size: 30px;
      font-weight: 600;
      line-height: normal;
      font-family: "Source Sans Pro", sans-serif;
      text-align: center;
      position: relative;
      z-index: 2; }
      body main .section_text::after {
        content: "";
        position: absolute;
        background-color: #ff4e33;
        top: -2px;
        left: 680px;
        height: 35px;
        width: 135px;
        z-index: -1; }
    body main .section_card {
      width: 56%;
      height: 200px;
      background: #3b3f50;
      float: left;
      margin: 0 0 1.5% 21%;
      border-radius: 7px;
      padding: 1%;
      display: flex;
      flex-direction: row; }
      body main .section_card img {
        width: 40%;
        border-radius: 5px; }
      body main .section_card .section_card_right_container {
        margin: 17px 0% 2% 5%;
        width: 50%;
        height: 90%; }
        body main .section_card .section_card_right_container .section_card_heading {
          color: #fff;
          font-size: 17px;
          font-weight: 600;
          line-height: normal;
          font-family: "Source Sans Pro", sans-serif;
          text-align: center; }
        body main .section_card .section_card_right_container .section_card_text {
          color: #cccacd;
          font-size: 12px;
          font-weight: normal;
          line-height: normal;
          font-family: "Fresca", sans-serif;
          margin: 25px 0 10px 30px;
          height: 70px;
          width: 320px;
          line-height: 145%; }
        body main .section_card .section_card_right_container .section_link {
          color: #AFB3C0;
          font-size: 12px;
          font-weight: normal;
          line-height: normal;
          font-family: "Hind", sans-serif;
          margin: 0 0 0 155px;
          text-align: center; }
    body main .section_banner {
      box-sizing: border-box;
      width: 62.5%;
      height: 100px;
      float: left;
      margin: 6% 0 0 18.7%;
      padding: 20px 115px 12px 115px;
      background: linear-gradient(to right, #dea504, #97334e);
      display: flex;
      flex-direction: row;
      border-radius: 5px;
      z-index: 2; }
      body main .section_banner .section_banner_text_wrap .section_banner_heading {
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        line-height: normal;
        font-family: "Source Sans Pro", sans-serif;
        margin: 0 0 0 0;
        position: relative;
        z-index: 3; }
        body main .section_banner .section_banner_text_wrap .section_banner_heading::after {
          content: "";
          position: absolute;
          background-color: #ff4e33;
          top: -7px;
          left: 83px;
          height: 35px;
          width: 45px;
          z-index: -1; }
      body main .section_banner .section_banner_text_wrap .section_banner_text {
        color: #bbc3ce;
        font-size: 11px;
        font-weight: normal;
        line-height: normal;
        font-family: "Fresca", sans-serif;
        width: 300px; }
      body main .section_banner .section_banner_button {
        width: 100px;
        height: 35px;
        text-align: center;
        background: #e3ac00;
        border: none;
        border-radius: 5%;
        color: #f2f3e7;
        font-size: 13px;
        font-weight: bold;
        line-height: normal;
        font-family: "Hind", sans-serif;
        margin: 12px 0 0 200px; }
  body .footer {
    margin-bottom: 0px;
    width: 100%;
    height: 170px;
    background: #3b3f50;
    margin-top: 130px;
    position: absolute;
    z-index: -1; }
    body .footer .footer-wrap {
      display: flex;
      flex-direction: row; }
      body .footer .footer-wrap .footer_logo {
        width: 200px;
        margin: 100px 50px 0px 140px;
        display: flex; }
        body .footer .footer-wrap .footer_logo img {
          width: 30px;
          height: 30px; }
        body .footer .footer-wrap .footer_logo p {
          margin: 3px 0 0 10px;
          height: 50px;
          font-family: "Fresca", sans-serif;
          display: flex;
          flex-direction: column;
          font-weight: bold;
          color: #AFB3C0;
          line-height: 15px; }
          body .footer .footer-wrap .footer_logo p span {
            font-weight: normal;
            font-size: 7px;
            text-align: center; }
      body .footer .footer-wrap .footer_text, body .footer .footer-wrap .footer-cr {
        position: relative;
        float: right;
        width: 200px;
        height: 50px;
        margin: 95px 50px 0 155px;
        color: #AFB3C0;
        font-size: 10px;
        font-weight: normal;
        line-height: normal;
        font-family: "Fresca", sans-serif; }
      body .footer .footer-wrap .footer-cr {
        margin: 110px 50px 0 280px;
        color: #AFB3C0;
        font-size: 12px;
        font-weight: normal;
        line-height: normal;
        font-family: "Fresca", sans-serif; }
