$full: 100%;
$hills: url(../img/m-h-day.jpg) ;


$sans: 'Source Sans Pro', sans-serif;
$hind: 'Hind', sans-serif;
$fresca: 'Fresca', sans-serif;

$delusional: 'Hind', sans-serif;

$gtext: #2c2f3c;
$pseudo: #14a0c7;
$mainBG: #fff;
$card_color: #21232e;
$gradient_color1: #689806;
$gradient_color2: #2f5dd1;
$button_color: #699900;
$card_text_colour: #AFB3C0;