$full: 100%;
$hills: url(../img/m-h-night.jpg) ;


$sans: 'Source Sans Pro', sans-serif; 
$hind: 'Hind', sans-serif;
$fresca: 'Fresca', sans-serif;

$delusional: 'Fresca', sans-serif;

$gtext: #fff;
$pseudo: #ff4e33;
$mainBG: #21232e;
$card_color: #3b3f50;
$gradient_color1: #dea504;
$gradient_color2: #97334e;
$button_color: #e3ac00;
$card_text_colour: #cccacd;